div {
    margin: 20px 20px 40px 40px;
}

section {
    border: 10px 10px 10px 10px ;}
div {
    padding: auto;
}

#gridcontainer { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr;
    column-gap: 20px;
}


#grid section:nth-child(even) {
    background-color: rgb(54, 12, 209);
}

#grid section:nth-child(even) {
    background-color: greenyellow;
}
#div {
    border: 10px 10px 10px 10px;
    background-color: aquamarine;
    padding: 20px 20px 20px 20px;
    background-color: azure;
}
#article1{
    display: grid;
    grid-template-columns: max-content;
    text-align: left;
    background-color: blueviolet;

}
#img {
    width: 40px;
    height: 40px;
    background-color: antiquewhite;

}



.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Air balloon"
    "A luna eclip moon"
    "A single rose"
    "popsicle";
}
.title {
    grid-area: Air balloon;
}

.header {
    grid-area: A luna eclip;
    
}

.content {
    grid-area: A single rose;
}

.sidebar {
    grid-area: Popsicle;
}

#grid div:nth-child(even) {
    background-color: rgb(209, 189, 12);
}

#grid div:nth-child(even) {
    background-color: rgb(255, 47, 144);
}


